DB_USERNAME ='root'
DB_PASSWORD ='root'
DB_HOST='localhost'
DB_PORT=3306
DB_NAME='tally_db'

github_repo = 'git@github.com:KBT0207/tally_app.git'

# .env file to be kept in dist/TallySyncManager/
update_pass = 'jovo_update'

